.muba {
    background-image: url('/imgs/teachers/muba.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
}

.boldbaatar {
    background-image: url('/imgs/teachers/boldbaatar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
}

.anu {
    background-image: url('/imgs/teachers/anu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
}

.enkhbayr {
    background-image: url('/imgs/teachers/enkhbayar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
}

.batnym {
    background-image: url('/imgs/teachers/batnym.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
}

.bazarwaani {
    background-image: url('/imgs/teachers/bazarwaani.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
}

.monkhtsogt {
    background-image: url('/imgs/teachers/monhtsogt.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
}