.video-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.video-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.video-window>div {
    width: 60%;
    position: absolute;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: transparent;
}

.video-window header {
    font-weight: bold;
}

.video-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
}

.modal-close {
    color: black;
    line-height: 50px;
    font-size: 40%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
    background-color: white;
    border-radius: 100%;
}

.modal-close:hover {
    color: black;
}


/* Demo Styles */

a {
    color: inherit;
}

.container {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 50%;
    margin-left: -5%;
}

.modal-window>div {
    border-radius: 1rem;
}

.modal-window div:not(:last-of-type) {
    margin-bottom: 15px;
}

small {
    color: lightgray;
}

.btn {
    background-color: none;
    text-decoration: none;
    width: 100%;
}

.btn i {
    padding-right: 0.3em;
}

.interiorVideo {
    width: 200px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 500px;
    color: white;
}