/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/


/*About Us*/

.aboutUs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-image: url('');
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(2, 7, 87);
    padding: 0 5%;
    height: 40vw;
}

@media screen and (max-width:600px) {
    .aboutUs {
        height: 100vh;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.aboutUsContainer {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    height: 100%;
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

@media screen and (max-width:600px) {
    .aboutUsContainer {
        height: 70vh;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: flex;
        margin-top: 40%;
        box-shadow: 0 0 10px;
    }
}

.aboutUs h1 {
    font-size: 24px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}

.aboutUs p {
    font-size: 14px;
    color: gray;
    width: 100%;
    margin-top: 10%;
}

@media screen and (max-width:600px) {
    .aboutUs h1 {
        font-size: 5vw;
    }
    .aboutUs p {
        font-size: 2vw;
        width: 80%;
    }
}

.aboutUsMiddle img {
    width: 70%;
}

.aboutUsSide {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 70%;
    overflow: hidden;
    padding: 0 10%;
}

.aboutUsSide .line {
    border: 2px solid red;
    width: 50%;
    margin: 5%;
    margin-left: 0;
    margin-bottom: 0;
}

.Aleft {
    width: 100%;
    padding: 0;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    position: absolute;
    height: 100%;
}

.Aleft img {
    margin-left: 46%;
}

.Bleft {
    width: 100%;
    padding: 0;
    position: absolute;
    height: 100%;
}

.Bleft img {
    margin-left: 20%;
    padding-right: 20%;
}

.whiteBack {
    width: 35%;
    background-color: white;
    z-index: 3;
    position: relative;
    float: right;
    height: 100%;
    -webkit-clip-path: polygon(0 22%, 0 0, 100% 0, 100% 100%, 0 100%, 0 72%, 18% 60%, 18% 34%);
    clip-path: polygon(0 22%, 0 0, 100% 0, 100% 100%, 0 100%, 0 72%, 18% 60%, 18% 34%);
    padding-right: 5%;
}

.whiteBackB {
    width: 35%;
    background-color: white;
    z-index: 3;
    position: relative;
    float: left;
    height: 100%;
    -webkit-clip-path: polygon(100% 0, 100% 22%, 82% 34%, 82% 58%, 100% 70%, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 100% 22%, 82% 34%, 82% 58%, 100% 70%, 100% 100%, 0 100%, 0 0);
    text-align: right;
    padding-left: 5%;
}

@media screen and (max-width:600px) {
    .whiteBack {
        clip-path: none;
        padding-right: 0%;
        padding-left: 0%;
    }
    .whiteBackB {
        clip-path: none;
        padding-right: 0%;
        padding-left: 0%;
    }
}

.aboutUs b {
    font-weight: bold;
}

.aboutUsMiddle {
    position: absolute;
    width: 15%;
    left: 42.5%;
    top: 24%;
    z-index: 4;
}

.aboutUsMiddle img {
    width: 100%;
}

@media screen and (max-width:600px) {
    .aboutUsSide {
        width: 80%;
        text-align: justify;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .aboutUsMiddle {
        width: 40%;
        left: 30%;
        top: 44%;
    }
}

.borderTop {
    width: 15%;
    height: 40%;
    border-top: 5px solid red;
    border-left: 5px solid red;
    position: absolute;
    z-index: -1;
    top: -0.9%;
    left: 9.7%;
}

.borderBottom {
    width: 15%;
    height: 40%;
    border-right: 5px solid red;
    border-bottom: 5px solid red;
    position: absolute;
    z-index: -1;
    bottom: -0.9%;
    right: 9.7%;
}

@media screen and (max-width:600px) {
    .borderTop {
        display: none;
    }
    .borderBottom {
        display: none;
    }
}

@media screen and (max-width:600px) {
    .Aleft {
        position: relative;
        height: 100%;
        width: 100%;
        padding: 0;
    }
    .Bleft {
        width: 100%;
        padding: 0;
        position: relative;
        height: 100%;
    }
    .Aleft img {
        width: 150%;
        margin-left: -50%;
    }
    .Bleft img {
        width: 160%;
        margin-left: 20%;
        padding-right: 20%;
    }
}