/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.containerBottom {
    width: 80%;
}

.personalComment p {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.personalComment h1 {
    width: 70%;
    margin: 1% auto;
    margin-bottom: 0%;
    text-align: center;
    font-size: 28px;
}

.personalComment .line {
    margin: 2% auto;
}

.containerTopText a {
    width: 100%;
}

.containerTopText button {
    background-color: white;
    border: none;
    margin-top: 10%;
    -webkit-clip-path: polygon(10% 0, 100% 0, 100% 70%, 90% 100%, 0 100%, 0 30%);
    clip-path: polygon(10% 0, 100% 0, 100% 70%, 90% 100%, 0 100%, 0 30%);
    font-size: 32px;
    padding: 5px;
    font-weight: bold;
    padding: 2% 10%;
    text-transform: uppercase;
}

/* .containerTopText {
    margin-bottom: 5%;
} */

.line {
    margin: 5%;
}

#home {
    height: 0;
}

.lessonBack {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.258)), color-stop(#13132000), color-stop(#1313204c), color-stop(#131320), to(#131320)), url('../imgs/teachers/weBack.jpg');
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.258), #13132000, #1313204c, #131320, #131320), url('../imgs/teachers/weBack.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.258), #13132000, #1313204c, #131320, #131320), url('../imgs/teachers/weBack.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.lessonContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 50vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.lessonContainerLeft {
    width: 35%;
}

.lessonContainerLeft h1 {
    background-color: #435475;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    width: 100%;
    padding: 5px 10px;
    text-transform: uppercase;
}

.lessonContainerLeft ul li {
    background-color: #1c2329;
    border-bottom: 1px solid white;
    color: rgb(214, 214, 214);
    padding: 5px;
    padding-left: 10px;
    width: 100%;
    font-size: 14px;
}

.lessonContainerLeft p {
    margin-bottom: 2%;
}

.lessonContainerRight {
    width: 55%;
}

.lessonContainerRight video {
    max-width: 100%;
    max-height: 100%;
}

.lessonMiddle a {
    width: 30%;
}

.classTitle {
    text-transform: uppercase;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.classTitle .boxText h1 {
    font-size: 16px;
}

.anotherClass {
    width: 80%;
    margin: 0 auto;
    margin-top: 10%;
}

.anotherClass .lessonMiddle {
    width: 100%;

}

