.button {
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

.modal {
    position: absolute;
    pointer-events: none;
    background: rgb(253, 253, 253);
    width: 25vw;
    z-index: 9999999;
    opacity: 0;
    transition: 0.3s;
    top: 35%;
    left: 50%;
    margin-left: -12.5%;
    border-radius: 15px;
    padding: 10px;
}

.overlayPr {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.585);
    z-index: 999;
    pointer-events: none;
    display: none;
}

.active {
    opacity: 1;
    pointer-events: auto;
}

.modal .close {
    position: absolute;
    top: -20px;
    right: -20px;
    cursor: pointer;
    color: #ddd;
}

.container button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    color: rgb(49, 49, 73);
}

.header .title {
    font-weight: bold;
}

.modal .info p {
    text-align: justify;
}