.button {
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

.modal {
    position: absolute;
    pointer-events: none;
    background: rgb(253, 253, 253);
    width: 25vw;
    z-index: 9999999;
    opacity: 0;
    transition: 0.3s;
    top: 35%;
    left: 50%;
    margin-left: -12.5%;
    border-radius: 15px;
    padding: 10px;
}

.active {
    opacity: 1;
    pointer-events: auto;
}

.modal .close {
    position: absolute;
    top: -20px;
    right: -20px;
    cursor: pointer;
    color: #ddd;
}

.container button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    color: rgb(49, 49, 73);
}