/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.muba {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    position: relative;
}

.muba::before {
    content: "";
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.524));
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.boldbaatar {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    position: relative;
}

.boldbaatar::before {
    content: "";
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.524));
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.anu {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    position: relative;
}

.anu::before {
    content: "";
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.524));
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.enkhbayr {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    position: relative;
}

.enkhbayr::before {
    content: "";
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.524));
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.batnym {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.524)), url('/assets/imgs/teachers/compressed/batnym.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    position: relative;
}

.batnym::before {
    content: "";
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.524));
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.bazarwaani {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    position: relative;
}

.bazarwaani::before {
    content: "";
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.524));
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.monkhtsogt {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    position: relative;
}

.monkhtsogt::before {
    content: "";
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.524));
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}