/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

:root {
    --text-color: var(rgb(2, 7, 87))
}

@font-face {
    font-family: MogulHo;
    src: url('/fonts/MogulFuturaEugeniaHo.ttf') format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: Mogul;
    src: url('/fonts/MogulFuturaEugenia.ttf') format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: MogulItalic;
    src: url('/fonts/MogulFuturaEugeniaItalic.ttf') format("truetype");
    font-weight: normal;
}

body {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    background-color: #fffafa;
}

@media screen and (max-width:600px) {
    .swiperTeachers {
        width: 100%;
        height: 100vh;
        overflow-y: hidden;
    }
}

.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 20px;
    width: 80%;
    padding: 0% 5%;
    z-index: 2;
}

@media screen and (max-width:600px) {
    .navigation {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media screen and (max-width:600px) {
    .swiperTeachers .swiper-button-next {
        color: white;
    }
}

.navImg {
    width: 30%;
}

.navImg img {
    width: 40%;
}

@media screen and (max-width:600px) {
    .navImg {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 50%;
        position: absolute;
        left: 0;
    }
    .navImg img {
        width: 80%;
    }
}

.navList {
    width: 70%;
}

.navList ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    z-index: 1;
    font-size: 0.9vw;
}

.navList ul a {
    color: white;
}

@media screen and (max-width:600px) {
    .navList ul {
        font-size: 3vw;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.navButton {
    width: 30%;
    display: none;
}

.navButton img {
    width: 100%;
}

.open {
    display: block;
}

@media screen and (max-width:600px) {
    .navList {
        width: 100%;
        display: none;
        background-color: rgba(0, 0, 0, 0.775);
        text-align: center;
        margin-top: 20%;
        z-index: 1;
        height: 50vh;
        position: absolute;
    }
    .navList ul {
        -ms-flex-pack: distribute;
        justify-content: space-around;
        height: 50vh;
        font-size: 16px;
        font-weight: bold;
    }
    .navButton {
        display: block;
        position: absolute;
        width: 10%;
        right: 5%;
        margin-top: 5%;
    }
    .navButton img {
        width: 100%;
    }
    .open {
        display: block;
    }
}

a {
    text-decoration: none;
}

.navList ul li {
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
}

.navList ul li:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.homePage {
    width: 100%;
}

.container {
    width: 100%;
    color: white;
}

@media screen and (max-width:600px) {
    .container {
        margin-top: 20%;
    }
}

body {
    background-image: url('../imgs/mainBack2.png');
    background-attachment: fixed;
}

.grayscale {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

@media screen and (max-width:600px) {
    .grayscale {
        height: 100%;
    }
}

.containerTop {
    background-position: center;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 140vh;
    -webkit-clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
    clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
}

@media screen and (max-width:600px) {
    .containerTop {
        height: 80vh;
    }
}

.muba {
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.258), #13132000, #1313204c, #131320, #131320), url('../imgs/teachers/mubaWithBack1.jpeg');
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.258)), color-stop(#13132000), color-stop(#1313204c), color-stop(#131320), to(#131320)), url('../imgs/teachers/mubaWithBack1.jpeg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.258), #13132000, #1313204c, #131320, #131320), url('../imgs/teachers/mubaWithBack1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.anu {
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.258), #13132000, #1313204c, #131320, #131320), url('../imgs/teachers/compressedBack/anuBack.webp');
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.258)), color-stop(#13132000), color-stop(#1313204c), color-stop(#131320), to(#131320)), url('../imgs/teachers/compressedBack/anuBack.webp');
    background-image: linear-gradient(rgba(0, 0, 0, 0.258), #13132000, #1313204c, #131320, #131320), url('../imgs/teachers/compressedBack/anuBack.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.batnym {
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.258), #13132000, #1313204c, #131320, #131320), url('../imgs/teachers/compressedBack/batnymBack.webp');
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.258)), color-stop(#13132000), color-stop(#1313204c), color-stop(#131320), to(#131320)), url('../imgs/teachers/compressedBack/batnymBack.webp');
    background-image: linear-gradient(rgba(0, 0, 0, 0.258), #13132000, #1313204c, #131320, #131320), url('../imgs/teachers/compressedBack/batnymBack.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.boldbaatar {
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.258), #13132000, #1313204c, #131320, #131320), url('../imgs/teachers/compressedBack/boldbaatarBack.webp');
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.258)), color-stop(#13132000), color-stop(#1313204c), color-stop(#131320), to(#131320)), url('../imgs/teachers/compressedBack/boldbaatarBack.webp');
    background-image: linear-gradient(rgba(0, 0, 0, 0.258), #13132000, #1313204c, #131320, #131320), url('../imgs/teachers/compressedBack/boldbaatarBack.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.enkhbayar {
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.258), #13132000, #1313204c, #131320, #131320), url('../imgs/teachers/compressedBack/enkhbayarBack.webp');
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.258)), color-stop(#13132000), color-stop(#1313204c), color-stop(#131320), to(#131320)), url('../imgs/teachers/compressedBack/enkhbayarBack.webp');
    background-image: linear-gradient(rgba(0, 0, 0, 0.258), #13132000, #1313204c, #131320, #131320), url('../imgs/teachers/compressedBack/enkhbayarBack.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.bazarwaani {
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.258), #13132000, #1313204c, #131320, #131320), url('../imgs/teachers/compressedBack/bazarwaaniBack.webp');
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.258)), color-stop(#13132000), color-stop(#1313204c), color-stop(#131320), to(#131320)), url('../imgs/teachers/compressedBack/bazarwaaniBack.webp');
    background-image: linear-gradient(rgba(0, 0, 0, 0.258), #13132000, #1313204c, #131320, #131320), url('../imgs/teachers/compressedBack/bazarwaaniBack.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.monkhtsogt {
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.258), #13132000, #1313204c, #131320, #131320), url('../imgs/teachers/compressedBack/monkhtsogtBack.webp');
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.258)), color-stop(#13132000), color-stop(#1313204c), color-stop(#131320), to(#131320)), url('../imgs/teachers/compressedBack/monkhtsogtBack.webp');
    background-image: linear-gradient(rgba(0, 0, 0, 0.258), #13132000, #1313204c, #131320, #131320), url('../imgs/teachers/compressedBack/monkhtsogtBack.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width:600px) {
    .containerTop {
        -o-object-fit: cover;
        object-fit: cover;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .muba {
        background-size: cover;
        background-repeat: no-repeat;
    }
    .anu {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 70%;
    }
    .batnym {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 10%;
    }
    .boldbaatar {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 45%;
    }
    .enkhbayar {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 45%;
    }
    .bazarwaani {
        background-size: cover;
        background-repeat: no-repeat;
    }
    .monkhtsogt {
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.containerTopText {
    z-index: 1;
    text-align: center;
    color: white;
    font-family: 'Lobster', cursive;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: absolute;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 100%;
    margin-bottom: 10%;
    height: 20vh;
}

@media screen and (max-width:600px) {
    .containerTopText {
        margin-top: 50%;
    }
}

.containerTopText h1 {
    font-family: MogulItalic;
}

.containerTopText p {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.line {
    border: 1px solid red;
    width: 60%;
    margin: 20% auto;
}

.containerTopText h1 {
    font-size: 50px;
    font-weight: bold;
}

@media screen and (max-width:600px) {
    .containerTopText h1 {
        font-size: 28px;
    }
}

.containerBottom {
    width: 65%;
    margin: 5% auto;
    line-height: 1.5;
    color: white;
}

.containerBottom h1 {
    margin: 2% 0;
    font-weight: bold;
}

@media screen and (max-width:600px) {
    .containerBottom {
        font-size: 10px;
    }
}

.containerBottom .line {
    text-align: left;
    margin: 0;
    width: 11%;
    margin: 2% 0;
}

.yearLine {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.yearLine h1 {
    width: 20%;
    text-align: right;
    font-weight: bold;
    color: white;
    font-size: 32px;
}

@media screen and (max-width:600px) {
    .yearLine h1 {
        font-size: 20px;
    }
}

.yearLineMiddle {
    width: 10%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.yearLine .spanCircle {
    width: 10px;
    height: 10px;
    background: #131320;
    border-radius: 50%;
    border: 2px solid white;
}

.spanLine {
    position: absolute;
    border-left: 3px solid white;
    height: 120px;
    z-index: -1;
}

.yearLine .yearLineText {
    width: 60%;
    font-size: 14px;
}

.yearLine .yearLineText p {
    margin-bottom: 10px;
}

.personalComment {
    margin-bottom: 10%;
}

.personalComment h1 {
    font-size: 18px;
    font-weight: bold;
}

.personalComment p {
    font-size: 14px;
    text-align: justify;
}